body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    font-family: Papyrus;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: magenta;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: getBig 2s infinite;
}

@keyframes getBig{
    from{
        transform: scale(0) translate(0,0)
    }

    to{
        transform: scale(5) translate(100%, 100%);
    }
}